<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img  src="https://www.zohowebstatic.com/sites/default/files/styles/product-home-page/public/notebook-logo.png?itok=ca_I-LRp" width="4%" height="4%"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
       
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link"  style="font-family: cursive;"  href="#" ><i class="fas fa-home"></i>   Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="font-family: cursive;" href="#/register"><i class="far fa-registered"></i>   Register</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"  style="font-family: cursive;"   href="#/login"><i class="fas fa-sign-in-alt"></i>   Login</a>
          </li>
  
          
   
          
        </ul>
        
      </div>
    </div>
  </nav>








<div style="background-image: url('https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg'); background-size: cover;">
    <div class="row">
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-2"></div>
    <div style="font-family: cursive;" class="col-md-4 col-sm-8">
            <br><br><br>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                <img src="https://evernote.com/c/assets/homepage/rich_notes.svg?4be8ba71638c18bb" width="15%" height="15%">
                <h2 style="font-family: cursive;"><b>Update</b></h2>
                <h4 style="font-family: cursive;"><b>your password to access Notebook</b></h4>
                <br><br>




    
                <form class="form row g-3 "     [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

                    <input type="text" name="username" id="" class="form-control" style="font-family: cursive;" placeholder="Enter your Username" formControlName="username">
                    <p style="color: red;" *ngIf="passwordForm.get('username').hasError('required')&& !passwordForm.get('username').untouched">Name is required**</p><br>


                    <input type="password" name="password1" id="" class="form-control" style="font-family: cursive;" placeholder="Enter your New Password" formControlName="password1">
                    <p style="color: red;" *ngIf="passwordForm.get('password1').hasError('required')&& !passwordForm.get('password1').untouched">Password is required**</p><br>

                    <input type="password" name="password2" id="" class="form-control" style="font-family: cursive;" placeholder="Confirm your New Password" formControlName="password2">
                    <p style="color: red;" *ngIf="passwordForm.get('password2').hasError('required')&& !passwordForm.get('password2').untouched">Password is required**</p><br>


                    <div class="col-12">
                        <button  type="submit" style="font-family: cursive;" class="btn btn-primary mt-3" [disabled]="!passwordForm.valid">Update Password</button>
                    </div>

                    <h4 class="text-center text-danger" style="font-family: cursive;" *ngIf="status" >Passwords are not same....Try again!!!</h4>



                </form> 






       
    </div>
</div>
<div class="col-md-4 col-sm-2"></div>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br>
</div>
